---
layout: default
title: Dougclectica Rebooted
---
<div id="results-container"></div>
<ul>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> <em>{{ post.date | date_to_long_string }}</em><br>
      {{ post.excerpt }}
    </li>
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="next ">Older</span>
  {% endif %}
</div>
